<h2>Train</h2>

<div class="d-flex flex-row flex-wrap">
    <div>
        <form (ngSubmit)="run()">
            <mat-form-field appearance="outline">
                <mat-label>Model</mat-label>
                <mat-select [(ngModel)]="model.scriptName" name="scriptName" required>
                    <mat-option *ngFor="let val of trainOptions" [value]="val">{{val}}</mat-option>
                </mat-select>
            </mat-form-field>

            <br/>

            <mat-form-field appearance="outline">
                <mat-label>Action</mat-label>
                <mat-select [(ngModel)]="model.action" name="action" required>
                    <mat-option [value]="'train'">Train</mat-option>
                    <mat-option [value]="'test'">Test</mat-option>
                </mat-select>
            </mat-form-field>

            <br/>

            <ng-container [ngSwitch]="model.action">
                <ng-container *ngSwitchCase="'train'">
                    <mat-form-field appearance="outline">
                        <mat-label>Epochs</mat-label>
                        <input matInput type="number" [(ngModel)]="model.epochs" name="epochs"/>
                    </mat-form-field>
                </ng-container>
            </ng-container>

            <br/>

            <button mat-raised-button color="primary" type="submit" [disabled]="busy">Run</button>
        </form>
    </div>


    <div class="flex-fill">
        <div *ngIf="result.length" class="mb-2">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>Result</mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let line of result">
                    {{line}}
                </div>
            </mat-expansion-panel>
        </div>
        <h3 *ngIf="entries.length">Logs</h3>
        <app-logs-view [entries]="entries"></app-logs-view>
    </div>
</div>

