<h2>{{"Train.Title"|translate}}</h2>

<div class="d-flex flex-row flex-wrap">
    <div>
        <form (ngSubmit)="run()">
            <mat-form-field appearance="outline">
                <mat-label>{{"Common.Model"|translate}}</mat-label>
                <mat-select [(ngModel)]="model.scriptName" name="scriptName" required>
                    <mat-option *ngFor="let val of trainOptions" [value]="val">{{val}}</mat-option>
                </mat-select>
            </mat-form-field>

            <br/>

            <mat-form-field appearance="outline">
                <mat-label>{{"Common.Action"|translate}}</mat-label>
                <mat-select [(ngModel)]="model.action" name="action" required>
                    <mat-option [value]="'train'">{{"Common.Train"|translate}}</mat-option>
                    <mat-option [value]="'test'">{{"Common.Test"|translate}}</mat-option>
                </mat-select>
            </mat-form-field>

            <br/>

            <ng-container [ngSwitch]="model.action">
                <ng-container *ngSwitchCase="'train'">
                    <mat-form-field appearance="outline">
                        <mat-label>{{"Common.Epochs"|translate}}</mat-label>
                        <input matInput type="number" [(ngModel)]="model.epochs" name="epochs"/>
                    </mat-form-field>
                </ng-container>
            </ng-container>

            <br/>

            <button mat-raised-button color="primary" type="submit" [disabled]="busy">{{"Common.Run"|translate}}</button>
        </form>
    </div>


    <div class="flex-fill">
        <div *ngIf="result.length" class="mb-2">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{"Common.Result"|translate}}</mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let line of result">
                    {{line}}
                </div>
            </mat-expansion-panel>
        </div>
        <h3 *ngIf="entries.length">{{"Common.Logs"|translate}}</h3>
        <app-logs-view [entries]="entries"></app-logs-view>
    </div>
</div>

