@use 'sass:map';
@use '@angular/material' as mat;
@use './app/themes' as themes;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



@include mat.all-component-themes(themes.$theme);

body {
  background-color: map.get(themes.$background-theme, background);
  min-height: 100vh;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.flex-center {
    display: flex;
    align-items: center;
}

.full {
    min-height: 100%;
    height: 100%;
}

a.simple-link {
    text-decoration: none;
    color: inherit;
}

.primary-border-1 {
    border: solid map.get(themes.$primary-theme, 500) 1px;
}
