@use 'sass:map';
@use '../themes' as themes;

mat-sidenav-container {
    min-height: 100%;
    height: 100%;
}

mat-sidenav {
    background-color: map.get(themes.$primary-theme, 500) !important;
}

:host {
    min-height: 100%;
    height: 100%;
    display: block;
}

.selected-background mat-list-item {
    background-color: rgba(0, 0, 0, 15%);
    transition: background-color ease-in-out 200ms;
}
