<mat-sidenav-container>
    <!--    TODO: improve resizing-->
    <mat-sidenav mode="side" [opened]="true" class="mat-elevation-z3" appDrawerAutosize>
        <mat-nav-list
            [@sidenavAnimationIsExpanded]="toggled" (@sidenavAnimationIsExpanded.start)="start()"
            (@sidenavAnimationIsExpanded.done)="done()">
            <mat-list-item (click)="toggle()">
                <mat-icon size="32px">menu</mat-icon>
            </mat-list-item>

            <a class="simple-link" routerLink="/" routerLinkActive="selected-background"
               [routerLinkActiveOptions]="{exact: true}">
                <mat-list-item>
                    <mat-icon>home</mat-icon>
                    <p matLine *ngIf="toggled">Home</p>
                </mat-list-item>
            </a>

            <a class="simple-link" routerLink="/train" routerLinkActive="selected-background">
                <mat-list-item>
                    <mat-icon>import_export</mat-icon>
                    <p matLine *ngIf="toggled">Train</p>
                </mat-list-item>
            </a>

            <a class="simple-link" routerLink="/digit_recognition" routerLinkActive="selected-background">
                <mat-list-item>
                    <mat-icon>filter_9</mat-icon>
                    <p matLine *ngIf="toggled">Digit Recognition</p>
                </mat-list-item>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content #content>
        <div>
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
