@use 'sass:map';
@use '../themes' as themes;

header {
  background-color: map.get(themes.$primary-theme, 600);
  color: map.get(themes.$primary-theme-contrast, 300);
}

.header-wrapper {
    padding: 0 2rem 0 1rem;
}
