<h2>Handwritten Digit Recognition</h2>

<div class="canvas-container">
    <p>Instructions: draw a single digit in the center of the canvas below</p>
    <div class="d-flex">
        <canvas width="112" height="112" #canvasElement></canvas>
        <button mat-icon-button (click)="clear()">
            <mat-icon>delete_outline</mat-icon>
        </button>
    </div>
    <canvas class="d-none" width="28" height="28" #resizeCanvasElement></canvas>
</div>

<button mat-raised-button color="primary" (click)="predict()" [disabled]="state !== 'idle'" [ngSwitch]="state">
    <ng-container *ngSwitchCase="'idle'">Predict</ng-container>
    <ng-container *ngSwitchCase="'loading'">Loading</ng-container>
    <ng-container *ngSwitchCase="'predicting'">Predicting</ng-container>
</button>

<div *ngIf="result !== undefined" class="ms-1">{{result}}</div>
