<h2>Handwritten Digit Recognition</h2>

<div class="canvas-container">
    <p>Draw a single digit below</p>
    <div class="d-flex">
        <canvas width="112" height="112" #canvasElement></canvas>
        <button mat-icon-button (click)="clear()">
            <mat-icon>delete_outline</mat-icon>
        </button>
    </div>
    <canvas class="d-none" width="28" height="28" #resizeCanvasElement></canvas>
</div>

<button mat-raised-button color="primary" (click)="predict()" [disabled]="busy">
    Predict
</button>

<div *ngIf="result !== undefined" class="ms-1">I believe this is a {{result}}</div>
